body {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  color: rgb(35, 22, 175);
}

img {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: auto;
}

p {
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.6;
}